<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>基本资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label ">用户名：</label>
                <label class="layui-form-label " style="text-align: left" th:text="${userEntity.empname}"></label>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label ">账号：</label>
                <label class="layui-form-label " style="text-align: left" th:text="${userEntity.login}"></label>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label ">用户类型：</label>
                <label class="layui-form-label " style="text-align: left" th:text="${userEntity.emptype}"></label>
            </div>

        </div>
    </div>
</div>
<script src="/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<script>
</script>
</body>
</html>