<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mh.package_ljl.mapper.PackageMapper">
<!--套餐的增删改查-->
    <select id="getPackageList" resultType="Package">
        SELECT
        `pid`,
        `pname`,
        `price`,
        `vipid`,
        (SELECT vip.`vname` FROM vip WHERE vip.`id`=package.`vipid`) vipname,
        `modifyDate`,
        `createDate`,
        `istrue`,
        desci
        FROM package
    </select>
    <select id="getPackageList_withStatus" resultType="Package">
        SELECT
        `pid`,
        `pname`,
        `price`,
        `vipid`,
        (SELECT vip.`vname` FROM vip WHERE vip.`id`=package.`vipid`) vipname,
        `modifyDate`,
        `createDate`,
        `istrue`,
        desci
        FROM package
        where istrue=1
    </select>
    <select id="getOnePac" resultType="Package">
        SELECT
        `pid`,
        `pname`,
        `price`,
        `vipid`,
        (SELECT vip.`vname` FROM vip WHERE vip.`id`=package.`vipid`) vipname,
        `modifyDate`,
        `createDate`,
        `istrue`,
        desci
        FROM package
        where pid=#{pid}
    </select>
    <select id="getpac_pronifoList" resultType="PagePro">
SELECT
  `id`,
  `packageid`,
  (SELECT pname FROM package
   WHERE package.`pid`=pagepro.`packageid`) pacname,
  `produceid`,
  (SELECT `name` FROM produce
   WHERE produce.`id`=pagepro.`produceid`) as proname,
  `num`
FROM
  `chuangmeng`.`pagepro`

WHERE packageid=#{pid}
    </select>
    <insert id="addpagepro" parameterType="PagePro">
        INSERT INTO `chuangmeng`.`pagepro` (
  `id`,
  `packageid`,
  `produceid`,
  `num`
)
VALUES
  (
    #{id},
    #{packageid},
   #{produceid},
    #{num}
  ) ;
    </insert>
    <insert id="addPackage" parameterType="Package">
      INSERT INTO `chuangmeng`.`package` (
      `pname`,
      `price`,
      `vipid`,
      `modifyDate`,
      `createDate`,
      `istrue`,
      desci
      )
      VALUES
      (
      #{pname},
      #{price},
      #{vipid},
      #{modifyDate},
      #{createDate},
      #{istrue},
      #{desci}
      ) ;
    </insert>
    <update id="modPackage" parameterType="Package">
      UPDATE
      `chuangmeng`.`package`
      SET
      `pid` = 'pid',
      `pname` = 'pname',
      `price` = 'price',
      `vipid` = 'vipid',
      `modifyDate` = 'modifyDate',
      `createDate` = 'createDate',
      `istrue` = 'istrue'
      WHERE `pid` = 'pid' ;
    </update>
    <delete id="delPackage">
      DELETE
      FROM
      `chuangmeng`.`package`
      WHERE `pid` = #{pid};
    </delete>
    <delete id="delp_pac">
        DELETE
        FROM
        `chuangmeng`.`pagepro`
        WHERE `packageid` = #{pid} ;
    </delete>
    <select id="getpacReport" resultType="CusPayL">
        SELECT
        c.`id`,
        c.`price`,
        cus.`cname`,
        c.`paydate`,
        e.`empname`,
        c.`paydesc`,
        c.`meal_sum`,
        c.`produce_sum`,
        (SELECT pac.pname FROM package pac WHERE c.`package`=pac.`pid`) AS pacname
        FROM cuspay c,customer cus,emp emp,emp e
        WHERE   c.`empid`=emp.`id` AND  c.`cusid`=cus.`cid` AND c.`empid`=e.`id` AND c.`produce_id` IS NULL AND c.`vipid` IS NULL
        <if test="month!=null">
            and DATE_FORMAT( c.paydate, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
        </if>
        <if test="prevMonth!=null">
            and  PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( c.paydate, '%Y%m' ) ) =1
        </if>
        <if test="year!=null">
            and  YEAR(c.paydate)=YEAR(NOW())
        </if>
        <if test="empid!=null and empid!=''">
            and c.empid=#{empid}
        </if>
        ORDER BY price DESC
    </select>
</mapper>